version: "3.9"
services:
  flutter:
    build: .
    volumes:
      - ./:/app
      - flutter_pub_cache:/root/.pub-cache
    environment:
      - ADB_SERVER_SOCKET=tcp:host.docker.internal:5037
    tty: true
    stdin_open: true
  mock:
    image: typicode/json-server:latest
    command: ["--watch", "/data/db.json", "--port", "3000"]
    volumes:
      - ./tools/mock-server/db.json:/data/db.json:ro
    ports:
      - "3000:3000"
volumes:
  flutter_pub_cache:
